// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");


// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "ARCADE";
  src: font-url('ARCADE/ARCADE_N.TTF') format('truetype');
  font-weight: normal;
 }

 $my-headers-font: "ARCADE";

 @font-face {
  font-family: "cranberry_gin";
  src: font-url('cranberry_gin/cranberry_gin.ttf') format('truetype');
  font-weight: normal;
 }

 $my-body-font: "cranberry_gin";


// // Define fonts for body and headers
$body-font: $my-body-font;
$headers-font: $my-headers-font;
