// Specific CSS for your home-page
.wrapper {
  // position: relative;
  color: white;
  text-align: center;
  // height: calc(100vh - 70px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #0b112c 0%,#2a3c94 100%);
  min-height: 80vh;
}

.encart {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, black 0%,#1F1F1F 100%);
  min-height: 60vh;
  width: 1000px;
  border-radius: 5px;
  border: 1px solid #4158b3;
  box-shadow: 0px 0px 5px #4158b3;
  margin: 15px 0;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
  color: white;
  padding-bottom: 60px;
}


.form {
  padding-top: 100px;
}


.form-control {
  border-radius: 7px;
  border: 1px solid #4158b3;
  box-shadow: 0px 0px 5px #4158b3;
}

.mario img {
  position: absolute;
  top: 43px;
  left: 200px;
  height: 200px;
  width: 300px;
}
