// Import page-specific CSS files here.
@import "home";
@import "new";
@import "show";

.booking-container {
  display: flex;
  justify-content: space-between
}

.buttons-container {
  display: flex;
}
