
.btn-green {
    border: double #3AC1AE;
    color: white;
    padding: 5px 25px;
    border-radius: 7px;
    font-weight: bold;
    background: -webkit-radial-gradient(#3AC1AE 10%,#3AC1AE 100%);
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}

.btn-green:hover {
    text-shadow: 0 -1px 1px #3AC1AE;
    opacity: 1;
    color: white;
    background: -webkit-radial-gradient(#3AC1AE 10%,#1A5E53 100%);
    box-shadow: 0px 0px 10px #3AC1AE;
    transition: all 0.5s ease-in-out;
}


.btn-yellow {
    border: double #d3A56B;
    color: white;
    padding: 5px 25px;
    border-radius: 7px;
    font-weight: bold;
    background: -webkit-radial-gradient(#d3A56B 10%,#d3A56B 100%);
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}

.btn-yellow:hover {
    text-shadow: 0 -1px 1px #955D2F;
    opacity: 1;
    color: white;
    background: -webkit-radial-gradient(#d3A56B 10%,#955D2F 100%);
    box-shadow: 0px 0px 10px #955D2F;
    transition: all 0.5s ease-in-out;
}

.btn-grey {
    color: white;
    padding: 5px 25px;
    border-radius: 7px;
    font-weight: lighter;
    opacity: 0.6;
}

.btn-grey:hover {
    border: double #999999;
    text-shadow: 0 -1px 1px #999999;
    opacity: 0.9;
    box-shadow: 0px 0px 10px #999999;
}

.btn-price {
  text-shadow: 0 -1px 1px #955D2F;
  opacity: 0.9;
  color: white;
  background: -webkit-radial-gradient(#d3A56B 10%,#955D2F 100%);
  box-shadow: 0px 0px 10px #955D2F;
  border: double #d3A56B;
  padding: 5px 25px;
  border-radius: 7px;
 font-weight: bold;
}

