/* Your card CSS code here */
a {
  text-decoration: none;
}

h2 {
  margin-bottom: 40px;
}

.card {
  width: 350px;
  height: 200px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.card-body {
  position: relative;
  background-size: cover;
  color: white;
  height: 200px;
}

.card-category {
  position: absolute;
  top: 5px;
  left: 10px;
  font-weight: lighter;
  font-size: 13px;
  letter-spacing: 0.2em;
  opacity: 0.8;
}

.price {

}

.card-avatar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-desc {
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
}

.card-desc h4 {
  font-size: 20px;
  margin-bottom: 0;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: grey;
}

.card-footer p {
  font-size: 12px;
  opacity: 0.8;
}

.card-links a {
  padding: 5px;
  opacity: 0.6;
}

.card-links a:hover {
  opacity: 1;
}

.fa {
  color: grey;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.fa:hover {
  color: #0259f0;
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}
