.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 10px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.footer-links a:hover {
  color: #955D2F;
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
  text-shadow: 1px 1px 3px #955D2F;
}
.footer .fa-heart {
  color: #D23333;
}
